# Generated from the service's own spec by scripts/spec-sync/sync.rb.
# Do not edit this file: change the spec in the service repo instead.
openapi: 3.1.0
info:
  title: Flowseeker — Skylit Public API
  version: "1.0.0"
  summary: Real-time and historical options-flow analytics as a public HTTP API.
  description: |
    Flowseeker exposes Skylit's real-time options-flow scoring stack — Flow
    Score, FlowBonus, VWF/SDF/FIR aggregates, sector rotation, and market
    breadth — as a versioned public HTTP API. Data is sourced from the full
    OPRA options feed with sub-second freshness during market hours.

    **Base URL.** `https://api.skylit.ai` serves this API and the core
    (Heatseeker) API with one key. `https://flow-api.skylit.ai` is a
    permanent alias for the same API: same keys, limits and credits. This
    spec is also served at `https://api.skylit.ai/v1/flow/openapi.json`.

    **Authentication.** Send your Skylit API key as a bearer token:

        Authorization: Bearer <key>

    The gateway also accepts the bare key in the `Authorization` header
    without the `Bearer ` prefix. `X-API-Key` and query-string keys are not
    accepted (`401`). A request without an `Authorization` header gets `401`;
    an unknown, revoked or expired key gets `403`.

    **Rate limits.** Each key has a requests-per-minute limit set by the
    account's plan (Pro, Protégé and Quant: 120 per key; invite: 60 per key),
    counted across every Skylit API host. `GET https://api.skylit.ai/v1/account`
    returns it as `limits.requestsPerMinute`; read it instead of hard-coding a
    number. Over it the gateway answers `429` `rate_limited`. Responses carry
    `X-RateLimit-Limit` (the key's limit), `X-RateLimit-Remaining` (requests
    left in the current window) and `X-RateLimit-Reset` (Unix time, in
    seconds, when the window resets). The gateway's `429` has no `Retry-After`: wait until
    `X-RateLimit-Reset`. `429`s from the API itself (concurrency and stream
    limits) carry `Retry-After`.

    **Query budget.** Requests that must run a fresh query (anything not
    answered from a cached or precomputed result) share a per-account budget
    across all servers: a cap on queries running at once and on fresh queries
    per second. Over it the API answers at once with `429`
    `TOO_MANY_CONCURRENT_QUERIES` or `RATE_LIMITED` and `Retry-After: 1`; the
    request is not queued and not charged. Cached answers never count. To read
    a whole day, follow `meta.nextCursor` (see `/v1/flow/{ticker}`) instead of
    splitting the time window: one request per page, no overlap.

    **Credits & billing.** Every `/v1/*` data request debits a fixed number of
    **credits** from your account's shared Skylit balance (the same balance used
    across all Skylit public APIs). Each chargeable response carries
    `X-Credits-Remaining: <balance>`. Credits are charged before the request
    is served and refunded when it fails (any `4xx` or `5xx`, or a `200`
    with an empty body). Cost is priced
    by server-side work and data volume returned:

    | Tier | Credits | Routes |
    |------|--------:|--------|
    | Light | 1 | single-key reads, ratios, scores, discovery/search lists, expirations, rvol, per-contract bull/bear, the flow feed |
    | Medium | 3 | charts, full chains, by-strike matrix, momentum/baseline/strikes, tide, aggregate, sweeps, market, sector, market-breadth, chain bull/bear, unusual-volume/oi screeners, dark-pool top-prints |
    | Heavy | 5 | trade feeds (`/trades`, dark-pool trades), history (`/history`, `historical-compare`), bulk endpoints |

    **Range-priced routes.** Where the range you ask for drives the work, the
    tier price covers the first 30 days and each further 30 days (or part) is
    charged again, so `interval=360D` on `/v1/market/tide` costs 3 × 12 = 36
    credits. Range caps are enforced up front with a `400` (never charged):

    | Route | Cap | Price |
    |-------|-----|-------|
    | `/v1/market/tide` | `interval` ≤ 30D with an intraday `bucket` (`1min`–`30min`), ≤ 360D with `1d`/`1w`; ≤ 5D with `exclude_deep_itm=true` | 3 × ⌈days ÷ 30⌉; with `exclude_deep_itm=true`, 3 per trading day |
    | `/v1/underlying/{ticker}/chart`, `/v1/contract/{symbol}/chart` | `interval` ≤ 30D with an intraday `bucket`, ≤ 365D with `1d`/`1w` | 3 × ⌈days ÷ 30⌉ |
    | `/v1/aggregate/{ticker}` | at most 8 `timeframes` | 3 × ⌈summed window days ÷ 30⌉ (`all` = 130 days = 15 credits) |
    | `/v1/contract/top/daily` | — | 1 with `ticker`, 3 without (market-wide scan) |

    `/v1/openapi.json` is free. When you run out of credits the API returns
    `402` `insufficient_credits`; a suspended account returns `403`
    `account_suspended`; a transient billing-store error returns `503`
    `credit_check_failed` (safe to retry). These billing codes are lowercase
    (`insufficient_credits`, `account_suspended`, `credit_check_failed`) — the
    platform-wide convention for credit errors.

    **Response envelope.** All success responses share one shape:

        { "data": <payload>, "meta": { "timestamp": "...", "requestId": "..." } }

    All errors share one shape:

        { "error": { "code": "NOT_FOUND", "message": "...",
                     "docs_url": "https://www.skylit.ai/docs/api-reference/errors#not_found" } }

    `docs_url` (a link to the error's entry on the errors page) is optional:
    read it when present, never require it. Retrying: `429` and `5xx` are
    safe to retry with backoff (honor `Retry-After` when sent, otherwise wait
    until `X-RateLimit-Reset` for a gateway `429`); other `4xx` need a changed
    request. See https://www.skylit.ai/docs/api-reference/rate-limits-and-retries.

    Field names are camelCase throughout. Codes are stable, machine-readable
    `SCREAMING_SNAKE_CASE` strings — the message text may evolve.

    **Validation.** Requests are checked against this document before they
    are charged:

    - A parameter with a documented set of values (for example `timeframe`,
      `order_by`, `right`, `format`) must use one of them; anything else
      returns `400` `INVALID_PARAMETER` naming the allowed values. Date
      parameters must be `YYYY-MM-DD`.
    - A ticker Skylit has never seen returns `404` `SYMBOL_NOT_FOUND`, whether
      it is in the path, the root of a contract symbol, or a `ticker` filter.
      For a list parameter (`tickers`, `symbols`) the request is served when
      at least one entry is known; unknown entries are simply absent from the
      result, and `404` is returned only when none is known. A known ticker
      with no activity in the window still returns `200` with empty data.
      Search (`/v1/underlying/search`) is not a lookup and returns `200 []`.
    - List parameters accept at most 50 symbols; more returns `400`.
    - Stay inside documented numeric ranges (`minimum`/`maximum`). Values
      outside a range are not rejected on every route today; where accepted
      they may be clamped (for example `limit` above its maximum) or ignored,
      so don't rely on out-of-range behaviour.
    - A request that has not completed after 25 seconds returns `504`
      `GATEWAY_TIMEOUT`; narrow the window or retry.

    None of these failures are charged.

    **Freshness.** Endpoints with a `timeframe` parameter (e.g. `/v1/flow/{ticker}`)
    return data through the last completed bucket. Intra-bucket fills land on the
    next request. The cumulative `/v1/flow/market-breadth` and aggregate scoring
    endpoints update at most once per second.

servers:
  - url: https://api.skylit.ai
    description: Production (one base URL for the core and Flowseeker APIs)
  - url: https://flow-api.skylit.ai
    description: Production, legacy alias (same API, keys, limits and credits)

security:
  - bearerApiKey: []

tags:
  - name: Flow
    description: Per-ticker flow feed, aggregate scoring, baselines, and momentum.
  - name: Sweeps
    description: Aggregated multi-exchange sweeps and sweep-only feeds.
  - name: Sector
    description: Sector- and industry-level flow rollups.
  - name: Market
    description: Market-wide overview, breadth, advance/decline, sector rotation, and net-premium tide.
  - name: Analytics
    description: |
      Standalone analytics endpoints — Vol/OI accumulation, moneyness segmentation,
      and timeframe-aggregated sentiment scores.
  - name: Ratios
    description: |
      Bid/ask/mid distribution analyses at chain and contract granularity, plus
      call/put-aware bull/bear pressure breakdowns.
  - name: Scoring
    description: Per-trade scoring, sentiment, and intent classification.
  - name: Underlying
    description: |
      Ticker-level discovery and analytics — top tickers by flow,
      bulk stats, intraday chart bars, raw enriched trades, strike /
      expiration distributions, option chain, and historical rollups.
  - name: Contract
    description: |
      Per-contract discovery and analytics — top contracts by flow,
      unusual volume / OI scans, contract stats, intraday chart bars,
      raw enriched trades, and historical rollups.
  - name: Dark Pool
    description: |
      Off-exchange (TRF) prints — paginated dark-pool trades and the
      largest individual prints per ticker. No side / BBO / greeks.
  - name: Meta
    description: API metadata (this OpenAPI document, etc.).

paths:
  /v1/flow/{ticker}:
    get:
      summary: Raw flow feed for a ticker (Flow Score + FlowBonus per trade)
      operationId: getFlow
      x-credits: 1
      tags: [Flow]
      description: |
        Returns the most recent options trades for `{ticker}` within the
        requested timeframe, each scored on Skylit's directional Flow Score
        (-100 → +100) and conviction-weighted FlowBonus. The response also
        includes timeframe-level VWF / SDF / FIR aggregates.

        **Paging.** Trades come newest first. When a page is full (`limit`
        rows read), `meta.nextCursor` is set: pass it back as `cursor` with the
        same filters to get the next, older page. It resumes exactly after the
        last row, so no trade is skipped or repeated, even when several share
        one nanosecond timestamp. No `nextCursor` means you have reached the
        start of the window; a `cursor` page with no trades returns `200` with
        an empty `trades` array. `min_flow_score`, `min_flow_bonus` and
        `min_rvol` filter after the read, so a page can hold fewer than
        `limit` trades while `nextCursor` is still set: keep following it.
        `meta.nextEndTime` is the last row's exact time (nanoseconds) for
        clients that page with `end_time`; it is inclusive, so trades at that
        instant can repeat. Prefer `cursor`.

        **Backfilling a day** for one contract, 500 trades per request:

            GET /v1/flow/SPY?date=2026-09-30&expiration=2026-09-30&min_strike=660&max_strike=660&option_type=call&limit=500
            → meta.nextCursor = "dDEuMTc5..."
            GET /v1/flow/SPY?date=2026-09-30&expiration=2026-09-30&min_strike=660&max_strike=660&option_type=call&limit=500&cursor=dDEuMTc5...
            → repeat until meta.nextCursor is absent

        Each page costs one request. Splitting the window around the 500-row
        limit instead (bisecting) re-reads overlapping ranges, spends the
        account's query budget several times over, and gets an
        `X-Skylit-Hint` response header pointing here.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/Timeframe"
        - name: limit
          in: query
          required: false
          description: Max trades returned. Server caps this at 500.
          schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
        - name: cursor
          in: query
          required: false
          description: |
            `meta.nextCursor` from the previous page, passed back unchanged with
            the same filters. Opaque; an invalid value returns `400`.
          schema: { type: string }
        - name: min_premium
          in: query
          required: false
          description: Minimum total premium per trade (USD).
          schema: { type: number, format: double, example: 50000 }
        - name: option_type
          in: query
          required: false
          description: Filter to calls or puts. `all` returns both.
          schema: { type: string, enum: [call, put, all], default: all }
        - name: trade_type
          in: query
          required: false
          description: |
            Filter by trade type. Comma-separated for multiple; every token
            must be one of the listed values.
          schema: { type: string, enum: [sweep, multi_leg, all], default: all }
        - name: moneyness
          in: query
          required: false
          description: |
            Moneyness category filter. Comma-separated for multiple
            (e.g. `otm,deep_otm`). Every token must be one of the listed
            values; an unknown token returns `400`.
          schema:
            type: string
            enum: [deep_itm, itm, atm, otm, deep_otm, all]
            default: all
        - name: start_time
          in: query
          required: false
          description: |
            Optional lower bound for the trade window. Accepts RFC 3339
            (`2026-05-27T13:30:00Z`) or Unix seconds. Omit to use the timeframe.
          schema: { type: string }
        - name: end_time
          in: query
          required: false
          description: Optional upper bound (RFC 3339 or Unix seconds).
          schema: { type: string }
        - name: max_premium
          in: query
          required: false
          description: Maximum total premium per trade (USD).
          schema: { type: number, format: double }
        - name: min_contracts
          in: query
          required: false
          description: Minimum contract size per trade.
          schema: { type: integer, minimum: 0 }
        - name: max_contracts
          in: query
          required: false
          description: Maximum contract size per trade.
          schema: { type: integer, minimum: 0 }
        - name: single_leg_only
          in: query
          required: false
          description: If `true`, exclude trades flagged as part of a multi-leg structure.
          schema: { type: boolean, default: false }
        - name: min_dte
          in: query
          required: false
          description: Minimum days to expiration.
          schema: { type: integer }
        - name: max_dte
          in: query
          required: false
          description: Maximum days to expiration.
          schema: { type: integer }
        - name: min_strike
          in: query
          required: false
          description: Minimum strike price (inclusive).
          schema: { type: number, format: double }
        - name: max_strike
          in: query
          required: false
          description: Maximum strike price (inclusive).
          schema: { type: number, format: double }
        - name: expiration
          in: query
          required: false
          description: Filter to a single expiration date (YYYY-MM-DD).
          schema: { type: string, format: date }
        - name: conviction_weights
          in: query
          required: false
          description: |
            Optional JSON object overriding the Flow Score conviction weights.
            Weights must be non-negative and sum to within 0.95–1.05, else 400.
          schema: { type: string }
        - name: min_flow_score
          in: query
          required: false
          description: Filter to trades with `flowScore` ≥ this value (-100..100).
          schema: { type: integer, minimum: -100, maximum: 100 }
        - name: min_flow_bonus
          in: query
          required: false
          description: Filter to trades with `flowBonus` ≥ this value.
          schema: { type: integer, minimum: 0 }
        - name: min_rvol
          in: query
          required: false
          description: Filter to trades with relative volume ≥ this multiple.
          schema: { type: number, format: double, minimum: 0, example: 2.0 }
        - name: include_clusters
          in: query
          required: false
          description: |
            If `true`, attach `cluster*` fields when a trade is part of a
            multi-leg cluster (sweep, condor, etc.).
          schema: { type: boolean, default: true }
        - name: date
          in: query
          required: false
          description: Trading date (YYYY-MM-DD). Defaults to current trading date.
          schema: { type: string, format: date, example: "2026-05-27" }
      responses:
        "200":
          description: Flow feed for `{ticker}`.
          headers:
            X-RateLimit-Limit: { schema: { type: integer } }
            X-RateLimit-Remaining: { schema: { type: integer } }
            X-RateLimit-Reset: { schema: { type: integer } }
            X-Credits-Remaining:
              description: Credit balance remaining after this request was charged.
              schema: { type: integer }
            X-Skylit-Hint:
              description: |
                Informational, sometimes present: `use next_cursor (<docs link>)`
                when this account sent several overlapping time windows for the
                same filters within seconds. The response itself is unaffected.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlowSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/{ticker}/aggregate:
    get:
      summary: Aggregate flow over an arbitrary [start, end] window
      operationId: getFlowAggregate
      x-credits: 3
      tags: [Flow]
      description: |
        Server-side aggregation across an arbitrary `[startTime, endTime]`
        window — no row cap. Returns trade/sweep counts, VWF/SDF/FIR, and a
        bullish/bearish/neutral premium split with a one-line interpretation.
        Useful for arbitrary slicing without paging the full trade list.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
        - name: option_type
          in: query
          required: false
          schema: { type: string, enum: [call, put, all], default: all }
        - name: min_premium
          in: query
          required: false
          schema: { type: number, format: double }
        - name: exclude_multi_leg
          in: query
          required: false
          description: Exclude trades flagged as part of a multi-leg structure.
          schema: { type: boolean, default: false }
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Window-aggregated flow scores.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlowAggregateSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/{ticker}/tide:
    get:
      summary: Per-ticker net-premium time series ("flow tide")
      operationId: getFlowTide
      x-credits: 3
      tags: [Flow]
      description: |
        Bucketed bullish vs bearish premium time series for a single ticker,
        with cumulative net premium and per-bucket VWF/SDF/FIR. The
        ticker-level analogue of `/v1/market/tide`.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
        - $ref: "#/components/parameters/Bucket"
        - name: option_type
          in: query
          required: false
          schema: { type: string, enum: [call, put, all], default: all }
        - name: min_premium
          in: query
          required: false
          schema: { type: number, format: double }
        - name: exclude_multi_leg
          in: query
          required: false
          schema: { type: boolean, default: false }
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Per-bucket flow tide bars.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FlowTideSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/{ticker}/baseline:
    get:
      summary: Trailing per-time-of-day flow baseline (avg + stddev)
      operationId: getFlowBaseline
      x-credits: 3
      tags: [Flow]
      description: |
        Time-of-day baseline buckets for `{ticker}` — average and standard
        deviation of trade count, premium, and FIR per intraday bucket over a
        configurable lookback window. The reference distribution behind
        `/v1/flow/{ticker}/momentum` z-scores.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/Bucket"
        - name: lookback_days
          in: query
          required: false
          description: Trailing window size in trading days.
          schema: { type: integer, default: 20, minimum: 1, maximum: 30 }
        - name: start_time_of_day
          in: query
          required: false
          description: Lower bound of intraday window (HH:MM ET).
          schema: { type: string, default: "09:30", example: "09:30" }
        - name: end_time_of_day
          in: query
          required: false
          description: Upper bound of intraday window (HH:MM ET).
          schema: { type: string, default: "16:00", example: "16:00" }
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Per-bucket baseline statistics.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BaselineSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/{ticker}/momentum:
    get:
      summary: Live momentum signal vs baseline (5m / 30m / 1h windows)
      operationId: getFlowMomentum
      x-credits: 3
      tags: [Flow]
      description: |
        Compares the current 5-minute, 30-minute, and 1-hour flow against the
        trailing per-time-of-day baseline (`/v1/flow/{ticker}/baseline`).
        Returns z-scores for the 5-minute window and a one-token `trend`
        classification.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: as_of
          in: query
          required: false
          description: Replay anchor. Accepts RFC 3339 or Unix seconds. Defaults to "now".
          schema: { type: string }
        - name: lookback_days
          in: query
          required: false
          description: Trailing window size in trading days.
          schema: { type: integer, default: 20, minimum: 1, maximum: 30 }
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Live momentum metrics + signal.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MomentumSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/{ticker}/strikes:
    get:
      summary: Strike-level flow concentration
      operationId: getFlowStrikes
      x-credits: 3
      tags: [Flow]
      description: |
        Where the directional money is going for `{ticker}`. Top-N strikes
        by selected ordering (premium, net premium, volume, etc.) with
        bullish/bearish premium split, ask/bid mix, and OI context. Includes
        a top-3 concentration summary.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/StartTime"
        - $ref: "#/components/parameters/EndTime"
        - name: top_n
          in: query
          required: false
          description: Number of strikes to return.
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - name: right
          in: query
          required: false
          description: Restrict to calls or puts only.
          schema: { type: string, enum: [call, put] }
        - name: min_premium
          in: query
          required: false
          schema: { type: number, format: double }
        - name: order_by
          in: query
          required: false
          schema:
            type: string
            enum: [net_premium, total_premium, volume]
            default: net_premium
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Top-N strike rollup.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StrikesSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/{ticker}/historical-compare:
    get:
      summary: Today's flow vs trailing average (with similar-days lookback)
      operationId: getFlowHistoricalCompare
      x-credits: 5
      tags: [Flow]
      description: |
        Compares the current trading day's premium / volume / net premium /
        call-put ratio against the trailing 20-trading-day average for the
        same ticker. Returns absolute deltas, percentile rankings, and the
        five most-similar past trading days.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: date
          in: query
          required: false
          description: Date to evaluate (YYYY-MM-DD). Defaults to today.
          schema: { type: string, format: date }
      responses:
        "200":
          description: Today vs historical comparison.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/HistoricalCompareSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/sector/{sector}:
    get:
      summary: Sector- or industry-level flow aggregation
      operationId: getSectorFlow
      x-credits: 3
      tags: [Sector]
      description: |
        Aggregates options flow across all tickers in a GICS sector. The
        `{sector}` path parameter accepts either a sector ETF symbol
        (`XLK`, `XLF`, `XLE`, …) or a sector name (`Technology`,
        `Financials`, …). Returns sector-level metrics, top-contributor
        tickers, and an industry-level breakdown.
      parameters:
        - name: sector
          in: path
          required: true
          description: |
            Sector ETF symbol (`XLK`, `XLF`, `XLE`, `XLV`, `XLY`, `XLP`,
            `XLU`, `XLI`, `XLB`, `XLRE`, `XLC`) or full sector name
            (`Technology`, `Financials`, `Healthcare`, etc.).
          schema: { type: string, example: XLK }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: top_n
          in: query
          required: false
          schema: { type: integer, default: 10, minimum: 1, maximum: 50 }
      responses:
        "200":
          description: Sector flow aggregation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SectorFlowSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/market-breadth:
    get:
      summary: Market-wide breadth, advance/decline, and sector rotation
      operationId: getMarketBreadth
      x-credits: 3
      tags: [Market]
      description: |
        Combines SPY/QQQ/IWM aggregate sentiment with an advance/decline
        ratio (over directional FIR) and per-sector rotation signals. Ideal
        as a single "is the market risk-on or risk-off right now" probe.
      parameters:
        - name: date
          in: query
          required: false
          description: Trading date (YYYY-MM-DD). Defaults to today.
          schema: { type: string, format: date }
        - name: fir_threshold
          in: query
          required: false
          description: |
            Absolute FIR threshold (in %) used to classify a ticker as
            advancing or declining. Tickers with `|fir| < threshold` count
            as unchanged.
          schema: { type: number, format: double, default: 10.0 }
      responses:
        "200":
          description: Market breadth + advance/decline + sector rotation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketBreadthSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/flow/stream:
    get:
      summary: Live cross-ticker options flow (Server-Sent Events)
      operationId: streamFlow
      x-credits: 1
      x-credits-per-minute: 1
      tags: [Flow]
      description: |
        A long-lived `text/event-stream` carrying options trades as they
        print, across every ticker unless you filter. This is the same feed
        that drives the Skylit website, with the same filter semantics.

        ### Live only

        The stream carries trades that arrive **after** you connect; it
        replays no history. Load a backlog from `/v1/flow/{ticker}` first if
        you need one, then attach here. `limit` is rejected with `400` rather
        than silently ignored.

        ### Pricing

        Costs differ from one-shot routes because they accrue over time:

        - **1 credit on connect**, charged before the stream opens — an
          under-funded client gets a clean `402`, not a stream that dies
          immediately.
        - **1 credit per minute open**, reported back as a `credits` event.
        - **5 concurrent streams per account**; a sixth gets `429`.
        - **1 hour maximum**, then a `reconnect` event and a clean close.

        ### Filter names

        This endpoint uses the live-feed filter vocabulary, which differs
        from the curated parameters on `/v1/flow/{ticker}`: use
        `show_calls`/`show_puts` rather than `option_type`, and
        `min_size`/`max_size` rather than `min_contracts`/`max_contracts`.

        ### Events

        | Event | Payload | Meaning |
        |---|---|---|
        | `connected` | stream terms | First frame after the stream opens. |
        | `trade` | trade object | A trade that passed your filters. Flags `sweep_trade`, `multi_leg` and `cross_trade` are always present. |
        | `credits` | `{"remaining": N}` | Emitted each minute after billing. |
        | `lagged` | `{"dropped": N}` | You read slower than the tape; trades were skipped. |
        | `closed` | `{"reason": "..."}` | Terminal. `insufficient_credits`, `account_suspended`, `credit_check_failed`, or `feed_unavailable`. |
        | `reconnect` | `{"reason": "max_duration"}` | Terminal after 1h; reconnect to continue. |

        A `:` comment arrives every 30s as a proxy keepalive. Treat a stalled
        stream as a reconnect signal.

        ### Example

        ```
        curl -N -H "Authorization: Bearer $SKYLIT_API_KEY" \
          "https://flow-api.skylit.ai/v1/flow/stream?min_premium=100000&show_puts=false"
        ```

        `-N` matters: without it curl buffers the response and the stream
        appears to hang.
      parameters:
        - name: ticker
          in: query
          required: false
          description: |
            Comma-separated tickers to include (e.g. `AAPL,NVDA`, max 50).
            Omit to stream every ticker.
          schema: { type: string }
        - name: exclude_ticker
          in: query
          required: false
          description: Comma-separated tickers to exclude.
          schema: { type: string }
        - name: min_premium
          in: query
          required: false
          description: |
            Minimum premium per trade (USD). Strongly recommended — an
            unfiltered stream carries the entire tape.
          schema: { type: number, format: double, example: 100000 }
        - name: max_premium
          in: query
          required: false
          description: Maximum premium per trade (USD).
          schema: { type: number, format: double }
        - name: min_size
          in: query
          required: false
          description: Minimum contracts per trade.
          schema: { type: integer, minimum: 0 }
        - name: max_size
          in: query
          required: false
          description: Maximum contracts per trade.
          schema: { type: integer, minimum: 0 }
        - name: show_calls
          in: query
          required: false
          description: Include calls.
          schema: { type: boolean, default: true }
        - name: show_puts
          in: query
          required: false
          description: Include puts.
          schema: { type: boolean, default: true }
        - name: show_below_bid
          in: query
          required: false
          description: |
            Include prints below the bid. The five side toggles are
            independent buckets: `show_bid` covers exact-bid prints,
            `show_ask` exact-ask, and the aggressive variants are gated by
            their own toggles.
          schema: { type: boolean, default: true }
        - name: show_bid
          in: query
          required: false
          description: Include prints at the bid.
          schema: { type: boolean, default: true }
        - name: show_mid
          in: query
          required: false
          description: Include prints at the mid.
          schema: { type: boolean, default: true }
        - name: show_ask
          in: query
          required: false
          description: Include prints at the ask.
          schema: { type: boolean, default: true }
        - name: show_above_ask
          in: query
          required: false
          description: Include prints above the ask.
          schema: { type: boolean, default: true }
        - name: min_dte
          in: query
          required: false
          description: Minimum days to expiration.
          schema: { type: integer }
        - name: max_dte
          in: query
          required: false
          description: Maximum days to expiration.
          schema: { type: integer }
        - name: only_0dte
          in: query
          required: false
          description: Restrict to contracts expiring today.
          schema: { type: boolean, default: false }
        - name: min_oi
          in: query
          required: false
          description: Minimum open interest on the contract.
          schema: { type: integer, minimum: 0 }
        - name: max_oi
          in: query
          required: false
          description: Maximum open interest on the contract.
          schema: { type: integer, minimum: 0 }
        - name: min_vol_oi
          in: query
          required: false
          description: Minimum volume/open-interest ratio.
          schema: { type: number, format: double }
        - name: max_vol_oi
          in: query
          required: false
          description: Maximum volume/open-interest ratio.
          schema: { type: number, format: double }
        - name: min_iv
          in: query
          required: false
          description: Minimum implied volatility (decimal, e.g. `0.42`).
          schema: { type: number, format: double }
        - name: max_iv
          in: query
          required: false
          description: Maximum implied volatility (decimal).
          schema: { type: number, format: double }
        - name: only_sweeps
          in: query
          required: false
          description: Restrict to multi-exchange sweeps.
          schema: { type: boolean, default: false }
        - name: only_crosses
          in: query
          required: false
          description: |
            Restrict to pre-negotiated crosses. These carry no aggressor
            information, so `side` is not meaningful on them.
          schema: { type: boolean, default: false }
        - name: only_multi_leg
          in: query
          required: false
          description: Restrict to legs of multi-leg strategies.
          schema: { type: boolean, default: false }
        - name: exclude_multi_leg
          in: query
          required: false
          description: Exclude multi-leg legs, leaving outright trades.
          schema: { type: boolean, default: false }
        - name: min_flow_score
          in: query
          required: false
          description: Minimum directional Flow Score (-100 → +100).
          schema: { type: integer, minimum: -100, maximum: 100 }
        - name: max_flow_score
          in: query
          required: false
          description: Maximum directional Flow Score.
          schema: { type: integer, minimum: -100, maximum: 100 }
        - name: abs_min_flow_score
          in: query
          required: false
          description: |
            Minimum absolute Flow Score — conviction in either direction.
          schema: { type: integer, minimum: 0, maximum: 100 }
        - name: min_percentile
          in: query
          required: false
          description: |
            Minimum premium percentile for the ticker. Trades with no
            computed percentile are excluded once this is set.
          schema: { type: integer, enum: [0, 50, 75, 90, 95, 99] }
        - name: show_stocks
          in: query
          required: false
          description: Include single-stock underlyings.
          schema: { type: boolean, default: true }
        - name: show_etf
          in: query
          required: false
          description: Include ETF underlyings.
          schema: { type: boolean, default: true }
        - name: show_indices
          in: query
          required: false
          description: Include index underlyings.
          schema: { type: boolean, default: true }
      responses:
        "200":
          description: |
            An open SSE stream. Frames are newline-delimited
            `event:`/`data:` pairs as described above.
          content:
            text/event-stream:
              schema: { type: string }
        "400":
          description: |
            An unsupported parameter was supplied — `limit` is not valid on
            the stream.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429":
          description: |
            Either the account's request rate limit, or its cap of 5
            concurrent streams (`stream_limit_reached`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/sweeps/{ticker}:
    get:
      summary: Aggregated multi-exchange sweep activity
      operationId: getSweepMonitor
      x-credits: 3
      tags: [Sweeps]
      description: |
        Returns "logical sweeps" — multi-exchange splits of one large order
        grouped by contract within a one-second execution window. Each row
        carries the venue list, total contracts/premium, spread position,
        moneyness bucket, and Skylit Flow Score / FlowBonus. The summary
        block adds population-level Sweep Dominance Factor (SDF) and
        bullish/bearish counts extrapolated from the full-day total.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: timeframe
          in: query
          required: false
          description: |
            Trailing window. Currently only restricts the trading day; the
            handler reads the full day's sweep partition. `5m`/`15m`/`1h`/
            `4h` reserved for future intraday filtering.
          schema:
            type: string
            enum: [5m, 15m, 1h, 4h, 1d]
            default: "1h"
        - name: min_premium
          in: query
          required: false
          schema: { type: number, format: double }
        - name: option_type
          in: query
          required: false
          schema: { type: string, enum: [call, put, all], default: all }
        - name: moneyness
          in: query
          required: false
          schema:
            type: string
            enum: [deep_itm, itm, atm, otm, deep_otm, all]
            default: all
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: min_strike
          in: query
          required: false
          schema: { type: number, format: double }
        - name: max_strike
          in: query
          required: false
          schema: { type: number, format: double }
        - name: expiration
          in: query
          required: false
          description: Restrict to a single expiration date (`YYYY-MM-DD`).
          schema: { type: string, format: date }
        - name: limit
          in: query
          required: false
          description: Max sweep rows returned (server caps at 500).
          schema: { type: integer, default: 100, minimum: 1, maximum: 500 }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Sweep activity for `{ticker}`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SweepSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/aggregate/{ticker}:
    get:
      summary: Aggregate sentiment scoring across timeframes (VWF / SDF / FIR / Composite)
      operationId: getAggregate
      x-credits: 3
      tags: [Analytics]
      description: |
        Returns a Composite directional score plus its VWF / SDF / FIR
        components for one or more trailing timeframes (intraday or
        multi-day). Optional moneyness breakdown, optional time-decay
        weighting, and a comparative trend block contrasting short- vs
        long-horizon sentiment. Reference: PRD Section 8.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: timeframes
          in: query
          required: false
          description: |
            Comma-separated timeframes, or `all`. Supported atoms:
            `1h, 4h, 1d, 7d, 30d, 90d`. `all` expands to all six. Unknown
            atoms are treated as a single trading day. At most 8 entries.
            Priced by range: 3 credits per started 30 days of summed window
            length (`1d,7d` = 3; `all` = 130 days = 15).
          schema: { type: string, default: "1d", example: "1d,7d,30d" }
        - name: include_breakdown
          in: query
          required: false
          description: Attach the per-timeframe VWF/SDF/FIR component split.
          schema: { type: boolean, default: true }
        - name: include_moneyness
          in: query
          required: false
          description: Attach a `byMoneyness` array (deep_itm → deep_otm).
          schema: { type: boolean, default: false }
        - name: moneyness_filter
          in: query
          required: false
          schema:
            type: string
            enum: [deep_itm, itm, atm, otm, deep_otm, all]
            default: all
        - name: expiration_filter
          in: query
          required: false
          description: Restrict to one expiration bucket.
          schema:
            type: string
            enum: ["0dte", weekly, monthly, leaps, all]
            default: all
        - name: time_decay
          in: query
          required: false
          description: Apply exponential time decay to VWF / SDF / FIR components.
          schema: { type: boolean, default: false }
        - name: time_decay_half_life
          in: query
          required: false
          description: Half-life in minutes for the decay (only applied when `timeDecay=true`).
          schema: { type: integer, minimum: 1, default: 30 }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Aggregate sentiment by timeframe.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AggregateSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/vol-oi/{ticker}:
    get:
      summary: Volume-vs-Open-Interest accumulation analysis
      operationId: getVolOi
      x-credits: 1
      tags: [Analytics]
      description: |
        Distinguishes new position building (accumulation) from position
        closing (distribution) by bucketing Vol/OI ratios per option type
        and moneyness band. Returns an overall accumulation score (0–100),
        an estimate of the share of volume representing new positions, and
        a one-token signal (`strong_accumulation` → `low_activity`).
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: timeframe
          in: query
          required: false
          schema: { type: string, enum: [daily, weekly], default: daily }
        - name: option_type
          in: query
          required: false
          schema: { type: string, enum: [call, put, all], default: all }
        - name: moneyness
          in: query
          required: false
          schema:
            type: string
            enum: [otm_10plus, otm_5_10, otm_3_5, atm_itm, all]
            default: all
        - name: min_oi
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
      responses:
        "200":
          description: Vol/OI breakdown with accumulation score.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/VolOiSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/moneyness/{ticker}:
    get:
      summary: Moneyness breakdown with pattern detection
      operationId: getMoneyness
      x-credits: 1
      tags: [Analytics]
      description: |
        Splits calls and puts across `deep_itm / itm / atm / otm /
        deep_otm` buckets with premium, sentiment, percentage of total,
        and trade count. Surfaces detected patterns (e.g. heavy OTM call
        accumulation, ATM concentration, deep-OTM lottery tickets) and a
        directional `signal`/`dominantStrategy` interpretation.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: timeframe
          in: query
          required: false
          schema: { type: string, enum: [intraday, daily, 7d, 30d], default: daily }
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: min_premium
          in: query
          required: false
          schema: { type: number, format: double }
      responses:
        "200":
          description: Moneyness breakdown with patterns + interpretation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MoneynessSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/score/{trade_id}:
    get:
      summary: Detailed scoring for a single trade
      operationId: getTradeScore
      x-credits: 1
      tags: [Scoring]
      description: |
        Returns sentiment, urgency, and confidence scores for an individual
        trade plus a spread-level breakdown and full trade context (ticker,
        strike, expiration, sweep/block flags, moneyness). Used to drill
        into a single row from `/v1/flow/{ticker}`.

        The `trade_id` path parameter accepts three formats: the canonical
        `flow_{hex}_{idx}` id returned by the flow feed, a bare hex
        timestamp (`188afe42c3a77af2`), or a raw nanosecond integer.
      parameters:
        - name: trade_id
          in: path
          required: true
          description: |
            Trade id (`flow_{hex}_{idx}`, bare hex timestamp, or raw nanos).
          schema:
            type: string
            example: "flow_188afe42c3a77af2_0"
      responses:
        "200":
          description: Trade scoring breakdown.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TradeScoreSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/chain-ratio/{ticker}:
    get:
      summary: Chain-level bid/ask/mid distribution
      operationId: getChainRatio
      x-credits: 1
      tags: [Ratios]
      description: |
        Aggregates a ticker's full option chain to surface buying vs
        selling pressure (`askRatio`, `bidRatio`, `midRatio`,
        `aggressionRatio`), call/put balance, and ATM/OTM concentration.
        Returns a `bias`, `aggression`, and `confidence` interpretation.
        Reference: PRD Sections 12.3 and 14.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: timeframe
          in: query
          required: false
          schema:
            type: string
            enum: [5m, 15m, 1h, 4h, 1d]
            default: "1d"
        - name: option_type
          in: query
          required: false
          schema: { type: string, enum: [call, put, all], default: all }
        - name: min_premium
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Chain ratio analysis with interpretation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChainRatioSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/contract-ratio/{symbol}:
    get:
      summary: Per-contract bid/ask/mid distribution
      operationId: getContractRatio
      x-credits: 1
      tags: [Ratios]
      description: |
        Single-contract counterpart to `/v1/chain-ratio/{ticker}`. Returns
        `askRatio`, `bidRatio`, `midRatio`, `aggressionRatio`, and a
        `bias`/`aggression`/`confidence` interpretation for one specific
        OPRA option symbol.
      parameters:
        - $ref: "#/components/parameters/OptionSymbol"
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: timeframe
          in: query
          required: false
          schema:
            type: string
            enum: [5m, 15m, 1h, 4h, 1d]
            default: "1d"
        - name: min_premium
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Contract ratio analysis with interpretation.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContractRatioSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/chain-bull-bear/{ticker}:
    get:
      summary: Chain-level call/put-aware bull/bear pressure
      operationId: getChainBullBear
      x-credits: 3
      tags: [Ratios]
      description: |
        Folds option type into the bid/ask/mid signal: a call lifted at the
        ask is bullish, a put hit at the bid is also bullish (put selling),
        etc. Returns overall bull/bear/neutral percentages plus call-only
        and put-only bull breakdowns so callers can tell whether the
        directional pressure originates from call buying, put selling, or
        both.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: timeframe
          in: query
          required: false
          schema:
            type: string
            enum: [5m, 15m, 1h, 4h, 1d]
            default: "1d"
        - name: option_type
          in: query
          required: false
          schema: { type: string, enum: [call, put, all], default: all }
        - name: min_premium
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: min_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
        - name: max_dte
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Chain-level bull/bear analysis.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChainBullBearSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/contract-bull-bear/{symbol}:
    get:
      summary: Per-contract call/put-aware bull/bear pressure
      operationId: getContractBullBear
      x-credits: 1
      tags: [Ratios]
      description: |
        Single-contract counterpart to `/v1/chain-bull-bear/{ticker}`.
        Maps a contract's trades to bull/bear/neutral buckets using both
        side (bid/ask/mid) and option type, so a bullish put-seller and a
        bullish call-buyer both register as bullish pressure.
      parameters:
        - $ref: "#/components/parameters/OptionSymbol"
        - name: date
          in: query
          required: false
          schema: { type: string, format: date }
        - name: timeframe
          in: query
          required: false
          schema:
            type: string
            enum: [5m, 15m, 1h, 4h, 1d]
            default: "1d"
        - name: min_premium
          in: query
          required: false
          schema: { type: integer, minimum: 0 }
      responses:
        "200":
          description: Per-contract bull/bear analysis.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContractBullBearSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/market/overview:
    get:
      summary: Market-wide flow overview for the current trading day
      operationId: getMarketOverview
      x-credits: 3
      tags: [Market]
      description: |
        Returns market-wide call/put premium, total volume, directional
        bullish/bearish premium, FIR, premium relative volume vs the
        trailing 20-day baseline at the same time of day, and the top 10
        tickers by total premium. Optionally narrowed to a comma-separated
        ticker filter.
      parameters:
        - name: tickers
          in: query
          required: false
          description: |
            Comma-separated list of tickers (e.g. `AAPL,NVDA,SPY`, max 50).
            When omitted, returns true market-wide stats over every ticker.
          schema: { type: string, example: "AAPL,NVDA,SPY" }
      responses:
        "200":
          description: Market-wide overview snapshot.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketOverviewSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/market/tide:
    get:
      summary: Bucketed market-wide net call premium / net put premium time series
      operationId: getMarketTide
      x-credits: 3
      tags: [Market]
      description: |
        Returns the market-wide intraday "tide" — bucketed Net Call
        Premium and Net Put Premium series with both per-bucket and
        cumulative values, plus an SPY price overlay for context. Two
        directional flavors are emitted per bar: the standard `ncp`/`npp`
        (call-buying minus call-selling, etc.) and a `manualNcp`/
        `manualNpp` variant with the script-trade exclusion logic
        relaxed for callers that need raw flow.
      parameters:
        - name: interval
          in: query
          required: false
          description: |
            Trailing window length. Defaults to a single trading day
            (`1D`); multi-day intervals roll up history at the chosen
            bucket size. Intraday buckets (`1min`–`30min`) allow at most
            `30D`; use `1d` or `1w` for longer windows. Priced by range:
            3 credits per started 30 days (`360D` = 36).
          schema:
            type: string
            enum: [1D, 2D, 3D, 5D, 7D, 14D, 30D, 45D, 60D, 90D, 120D, 180D, 360D]
            default: "1D"
        - name: bucket
          in: query
          required: false
          description: Bucket size for the time series.
          schema:
            type: string
            enum: [1min, 5min, 15min, 30min, 1d, 1w]
            default: "5min"
        - name: date
          in: query
          required: false
          description: Trading date anchor (`YYYY-MM-DD`). Defaults to today.
          schema: { type: string, format: date }
        - name: exclude_multi_leg
          in: query
          required: false
          description: Exclude multi-leg / spread trades from the directional totals.
          schema: { type: boolean, default: false }
        - name: exclude_deep_itm
          in: query
          required: false
          description: |
            Exclude deep in-the-money trades (`moneyness_percent < -20`) from
            the directional totals. This reads raw trades rather than the
            pre-aggregated series: `interval` is capped at `5D` and the call
            costs 3 credits per trading day.
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Market tide bars.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/MarketTideSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  # ── Underlying (ticker discovery & analytics) ──────────────────────────
  /v1/underlying:
    get:
      summary: List underlyings active on a date
      operationId: listUnderlyings
      x-credits: 1
      tags: [Underlying]
      description: |
        Lists every ticker that traded options on the requested date,
        ordered by total premium (descending). Useful as a starting point
        for discovery or for repopulating the universe of tradable tickers.
      parameters:
        - in: query
          name: limit
          required: false
          description: Maximum rows to return. Server caps at 500.
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - $ref: "#/components/parameters/DateQuery"
        - in: query
          name: min_premium
          schema: { type: number, format: double, minimum: 0 }
          description: Minimum total premium (USD) for the day.
        - in: query
          name: min_volume
          schema: { type: integer, minimum: 0 }
          description: Minimum total option volume for the day.
      responses:
        "200":
          description: Tickers ranked by total premium.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TickerListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/search:
    get:
      summary: Prefix-search active tickers
      operationId: searchUnderlyings
      x-credits: 1
      tags: [Underlying]
      description: |
        Case-insensitive prefix search over the active-tickers universe
        for the requested date. Use to power autocomplete UIs.
      parameters:
        - in: query
          name: q
          required: true
          description: Search prefix (1–10 characters, uppercased server-side).
          schema: { type: string, minLength: 1, maxLength: 10, example: "AAP" }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 20 }
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Matching tickers (capped at 50).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TickerListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/top/daily:
    get:
      summary: Top underlyings by daily flow
      operationId: getTopUnderlyingsDaily
      x-credits: 1
      tags: [Underlying]
      description: |
        Top tickers for a single trading day, with call/put premium and
        volume splits, net premium, and call/put ratio. Sortable by
        `premium`, `volume`, `net_premium`, or `call_put_ratio`.
      parameters:
        - in: query
          name: limit
          required: false
          description: Maximum rows to return. Server caps at 500.
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - $ref: "#/components/parameters/DateQuery"
        - in: query
          name: min_premium
          schema: { type: number, format: double, minimum: 0 }
        - in: query
          name: min_volume
          schema: { type: integer, minimum: 0 }
        - in: query
          name: order_by
          schema:
            type: string
            enum: [premium, volume, net_premium, call_put_ratio]
            default: premium
        - in: query
          name: order
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        "200":
          description: Top underlyings for the day.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUnderlyingListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/top/weekly:
    get:
      summary: Top underlyings by trailing-5-day flow
      operationId: getTopUnderlyingsWeekly
      x-credits: 1
      tags: [Underlying]
      description: |
        Same shape as `/v1/underlying/top/daily` but rolled up across the
        trailing 5 trading days ending on `date`.
      parameters:
        - in: query
          name: limit
          required: false
          description: Maximum rows to return. Server caps at 500.
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - $ref: "#/components/parameters/DateQuery"
        - in: query
          name: min_premium
          schema: { type: number, format: double, minimum: 0 }
        - in: query
          name: min_volume
          schema: { type: integer, minimum: 0 }
        - in: query
          name: order_by
          schema:
            type: string
            enum: [premium, volume, net_premium, call_put_ratio]
            default: premium
        - in: query
          name: order
          schema: { type: string, enum: [asc, desc], default: desc }
      responses:
        "200":
          description: Top underlyings for the trailing week.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopUnderlyingListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/bulk/stats:
    get:
      summary: Bulk underlying stats for a list of tickers
      operationId: getUnderlyingBulkStats
      x-credits: 5
      tags: [Underlying]
      description: |
        Returns a single-day `UnderlyingStats` record per requested ticker.
        Tickers absent from the response had no options activity that day.
      parameters:
        - in: query
          name: tickers
          required: true
          description: Comma-separated list of tickers (max 50).
          schema: { type: string, example: "SPY,AAPL,NVDA" }
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Per-ticker stats.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UnderlyingStatsListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/stats:
    get:
      summary: Daily stats for a single underlying
      operationId: getUnderlyingStats
      x-credits: 1
      tags: [Underlying]
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Stats for the ticker on the requested date.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UnderlyingStatsSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/chart:
    get:
      summary: Intraday chart bars for a ticker
      operationId: getUnderlyingChart
      x-credits: 3
      tags: [Underlying]
      description: |
        Returns time-bucketed bars aggregating options activity for the
        underlying (call/put volume + premium, P/C ratio, bid/ask
        execution split) plus the underlying stock price at each
        boundary. Backed by the same intraday rollup tables that power
        the chart modal in the Skylit UI.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: query
          name: interval
          required: true
          description: |
            Trailing window covered by the bars (e.g. `1D`, `7D`, `30D`).
            At most `30D` with an intraday bucket, `365D` with `1d`/`1w`.
            Priced by range: 3 credits per started 30 days.
            N counts **trading days** (weekends and market holidays are
            skipped), ending with the current or latest session.
          schema: { type: string, example: "1D" }
        - in: query
          name: bucket
          required: true
          description: |
            Bucket size. Every bucket in the window is returned, zero-filled
            when nothing traded, so the response grows with window / bucket:
            `1min` over `30D` is about 11,700 bars (390 per session), a
            multi-megabyte response. For windows over about 20 trading days,
            use `5min` or coarser.
            Retention: `1min`-`30min` cover the last 365 days; `1d` and `1w`
            go back to 2023-03-27.
          schema:
            type: string
            enum: [1min, 5min, 10min, 15min, 30min, 1d, 1w]
      responses:
        "200":
          description: Intraday chart bars.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UnderlyingChartSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/trades:
    get:
      summary: Raw enriched trades for a ticker
      operationId: getUnderlyingTrades
      x-credits: 5
      tags: [Underlying]
      description: |
        Returns the raw enriched trade rows that feed the chart bars and
        the live feed. Supports rich filtering — sweep-only / multi-leg,
        moneyness, premium floor, DTE / strike / expiration windows.
        See `OptionTradeRow` below.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: query
          name: start
          description: |
            Lower time bound — ISO 8601 (e.g. `2026-01-12T09:30:00Z`) or
            Unix seconds. Defaults to start-of-trading-day.
          schema: { type: string }
        - in: query
          name: end
          description: |
            Upper time bound — ISO 8601 or Unix seconds. Defaults to now.
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 500, default: 50 }
        - in: query
          name: only_sweeps
          schema: { type: boolean, default: false }
        - in: query
          name: only_multi_leg
          schema: { type: boolean, default: false }
        - in: query
          name: exclude_multi_leg
          schema: { type: boolean, default: false }
        - in: query
          name: moneyness
          schema: { type: string, enum: [ITM, ATM, OTM] }
        - in: query
          name: min_moneyness_pct
          schema: { type: number, format: double }
        - in: query
          name: max_moneyness_pct
          schema: { type: number, format: double }
        - in: query
          name: min_premium
          schema: { type: number, format: double, minimum: 0 }
        - in: query
          name: min_dte
          schema: { type: integer }
        - in: query
          name: max_dte
          schema: { type: integer }
        - in: query
          name: min_strike
          schema: { type: number, format: double }
        - in: query
          name: max_strike
          schema: { type: number, format: double }
        - in: query
          name: expiration
          schema: { type: string, format: date }
      responses:
        "200":
          description: Filtered enriched trades.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OptionTradeListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/by-strike:
    get:
      summary: Premium / volume by strike
      operationId: getUnderlyingByStrike
      x-credits: 3
      tags: [Underlying]
      description: |
        Strike-level distribution of call/put premium, volume, and OI for
        the requested window, plus chain-wide aggregates and a max-pain
        estimate.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: query
          name: interval
          schema: { type: string, enum: [1D, 1W, 7D], default: "1D" }
        - in: query
          name: dte_filter
          description: DTE bucket — `all`, `0-7`, `8-30`, `31-90`, or `90+`.
          schema:
            type: string
            enum: ["all", "0-7", "8-30", "31-90", "90+"]
            default: "all"
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Strike distribution.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StrikeDistributionSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/by-strike/{strike}/expirations:
    get:
      summary: Premium / volume by expiration for a strike
      operationId: getUnderlyingStrikeExpirations
      x-credits: 1
      tags: [Underlying]
      description: |
        For a single strike on the underlying, breaks the requested
        window's premium and volume out by expiration date.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: path
          name: strike
          required: true
          description: Strike price (decimal allowed; e.g. `580` or `580.5`).
          schema: { type: string, example: "580" }
        - in: query
          name: interval
          schema: { type: string, enum: [1D, 1W, 7D], default: "1D" }
        - in: query
          name: dte_filter
          schema:
            type: string
            enum: ["all", "0-7", "8-30", "31-90", "90+"]
            default: "all"
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Expiration breakdown for the strike.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpirationDistributionSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/expirations:
    get:
      summary: List traded expirations for a ticker
      operationId: getUnderlyingExpirations
      x-credits: 1
      tags: [Underlying]
      description: |
        Returns each expiration that traded on `date`, with per-expiration
        call/put volume + premium and the unique-contract count.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Expirations with per-expiry totals.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ExpirationListSuccess" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/chain:
    get:
      summary: Option chain snapshot
      operationId: getUnderlyingChain
      x-credits: 3
      tags: [Underlying]
      description: |
        Snapshot of the option chain for a single expiration on the
        requested date — call & put volume, premium, OI, last IV, and
        last trade price per strike, plus the underlying price.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: query
          name: expiration
          required: true
          description: Expiration date (`YYYY-MM-DD`).
          schema: { type: string, format: date, example: "2026-08-21" }
        - in: query
          name: min_volume
          description: Suppress strikes whose total (call+put) volume is below this floor.
          schema: { type: integer, minimum: 0 }
        - $ref: "#/components/parameters/DateQuery"
      responses:
        "200":
          description: Chain snapshot.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChainSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/history:
    get:
      summary: Daily history for a ticker
      operationId: getUnderlyingHistory
      x-credits: 5
      tags: [Underlying]
      description: |
        Daily aggregates (premium, volume, call/put split, net premium)
        between `startDate` and `endDate` (inclusive), one row per
        trading day with activity.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: query
          name: start_date
          required: true
          schema: { type: string, format: date, example: "2026-01-02" }
        - in: query
          name: end_date
          required: true
          schema: { type: string, format: date, example: "2026-01-31" }
      responses:
        "200":
          description: One row per trading day.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UnderlyingHistorySuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/underlying/{ticker}/rvol:
    get:
      summary: Relative-volume bars for a ticker
      operationId: getUnderlyingRvol
      x-credits: 1
      tags: [Underlying]
      description: |
        Time-bucketed bars with call/put volume + premium and an
        average-volume baseline computed from `avgPeriod` recent days,
        plus aggregate RVOL stats.
      parameters:
        - $ref: "#/components/parameters/Ticker"
        - in: query
          name: interval
          description: Trailing window — `{N}D` where N is 1–365 (e.g. `1D`, `7D`, `30D`).
          schema: { type: string, default: "1D", example: "1D" }
        - in: query
          name: bucket
          schema:
            type: string
            enum: [1min, 5min, 10min, 15min, 30min, 1d, 1w]
            default: "5min"
        - in: query
          name: avg_period
          description: Baseline lookback as `{N}d` (e.g. `14d`, `30d`). Max 365 days.
          schema: { type: string, default: "14d" }
        - $ref: "#/components/parameters/DateQuery"
        - in: query
          name: order_by
          schema:
            type: string
            enum: [rvol, volume, premium, time]
            default: time
        - in: query
          name: order
          description: Sort direction. Defaults to `asc` when `order_by=time`, otherwise `desc`.
          schema: { type: string, enum: [asc, desc] }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1 }
        - in: query
          name: format
          schema: { type: string, enum: [full, summary], default: full }
      responses:
        "200":
          description: RVOL bars + aggregate stats.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UnderlyingRvolSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  # ── Contract (per-option discovery & analytics) ────────────────────────
  /v1/contract/top/daily:
    get:
      summary: Top contracts by daily flow
      operationId: getTopContractsDaily
      x-credits: 3
      tags: [Contract]
      description: |
        Single-day top-contract screener with full-spectrum filters
        (premium / volume / OI / IV / DTE / strike windows, call vs put,
        sweep vs multi-leg). Sortable by `premium`, `volume`, `oi`, or `iv`.
        Costs 1 credit with a `ticker` filter and 3 without one (the
        market-wide scan).
      parameters:
        - in: query
          name: limit
          required: false
          description: Maximum rows to return. Server caps at 500.
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - $ref: "#/components/parameters/DateQuery"
        - in: query
          name: ticker
          schema: { type: string, example: SPY }
        - in: query
          name: min_premium
          schema: { type: number, format: double }
        - in: query
          name: max_premium
          schema: { type: number, format: double }
        - in: query
          name: min_volume
          schema: { type: integer, minimum: 0 }
        - in: query
          name: max_volume
          schema: { type: integer, minimum: 0 }
        - in: query
          name: min_oi
          schema: { type: integer, minimum: 0 }
        - in: query
          name: max_oi
          schema: { type: integer, minimum: 0 }
        - in: query
          name: right
          schema: { type: string, enum: [C, P] }
        - in: query
          name: min_dte
          schema: { type: integer }
        - in: query
          name: max_dte
          schema: { type: integer }
        - in: query
          name: min_strike
          schema: { type: number, format: double }
        - in: query
          name: max_strike
          schema: { type: number, format: double }
        - in: query
          name: expiration
          schema: { type: string, format: date }
        - in: query
          name: min_iv
          schema: { type: number, format: double }
        - in: query
          name: max_iv
          schema: { type: number, format: double }
        - in: query
          name: order_by
          schema:
            type: string
            enum: [premium, volume, oi, iv]
            default: premium
        - in: query
          name: order
          schema: { type: string, enum: [asc, desc], default: desc }
        - in: query
          name: only_sweeps
          schema: { type: boolean, default: false }
        - in: query
          name: only_multi_leg
          schema: { type: boolean, default: false }
        - in: query
          name: exclude_multi_leg
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Top contracts for the day.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TopContractListSuccess" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/InsufficientCredits" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/Unavailable" }
        "404": { $ref: "#/components/responses/NotFound" }
        "504": { $ref: "#/components/responses/GatewayTimeout" }

  /v1/contract/top/weekly:
    get:
      summary: Top contracts by trailing-5-day flow
      operationId: getTopContractsWeekly
      x-credits: 1
      tags: [Contract]
      description: |
        Same shape as `/v1/contract/top/daily`, rolled up over the
        trailing 5 trading days ending on `date`.
      parameters:
        - in: query
          name: limit
          required: false
          description: Maximum rows to return. Server caps at 500.
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - $ref: "#/components/parameters/DateQuery"
        - in: query
          name: ticker
          schema: { type: string }
        - in: query
          name: min_premium
          schema: { type: number, format: double }
        - in: query
          name: max_premium
          schema: { type: number, format: double }
        - in: query
          name: min_volume
          schema: { type: integer, minimum: 0 }
        - in: query
          name: max_volume
          schema: { type: integer, minimum: 0 }
        - in: query
          name: min_oi
          schema: { type: integer, minimum: 0 }
        - in: query
          name: max_oi
          schema: { type: integer, minimum: 0 }
        - in: query
          name: right
          schema: { type: string, enum: [C, P] }
        - in: query
          name: min_dte
          schema: { type: integer }
        - in: query
          name: max_dte
          schema: { type: integer }
        - in: query
          name: min_strike
          schema: { type: number, format: double }
        - in: query
          name: max_strike
          schema: { type: number, format: double }
        - in: query
[...]
